.main_box {
  border: 10px solid black;
  display: flex;
  width: 80%;
  height: fit-content;
  margin: auto;
  padding: 10px;
  /* flex-wrap: wrap;
  flex-direction: row; */
  gap: 10px 20px;
  flex-flow: row wrap;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  border: 10px solid darkblue;
  height: 200px;
  /* margin: 5px; */
  text-align: center;
  width: 20%;
}
.box1 {
  height: 300px;
  /* order: 2; */
}
.box2 {
  height: 100px;
  /* order: -1; */
  flex-grow: 1;
  align-self: center;
}
